# Dependencies
node_modules/
.pnp
.pnp.js
.pnp.*
.node_history

# Build outputs
dist/
build/
out/
.next/
.astro/

# Strapi
exports/
.strapi/
.strapi-updater.json
.strapi-cloud.json
license.txt

# Turbo
.turbo

# Vercel
.vercel

# Environment variables
.env
.env.local
.env.production
.env.development.local
.env.test.local
.env.production.local

# Testing & coverage
coverage/
lcov.info

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Yarn
.yarn/*
!.yarn/cache
!.yarn/unplugged
!.yarn/patches
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log

# Cache & temp
.tmp
.tsbuildinfo
.eslintcache
pids
logs
results

# OS — macOS
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*

# OS — Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OS — Linux
*~

# Editors
.idea/
nbproject/
*.swo
*.swp
*.swn
*.swm
*#

# Misc
*.pem
ssl/
public/uploads/*
!public/uploads/.gitkeep

# Binary / archive formats
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.cab
*.msi
*.msm
*.msp
*.dll
*.exe
*.o
*.so
*.class
*.pid
*.out
*.seed
*.dat
*.sql
*.sqlite
*.sqlite3
