@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  --font-display: "Roboto", sans-serif;
}

@layer utilities {
  .gradient {
    background: linear-gradient(-45deg, #302b63, #00bf8f, #1cd8d2);
  }
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-family: var(--font-display);
}